extends layout

block content

	div(style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;")
		h1
			i.fas.fa-cogs.fa-5x
		h1 Extra Pressure
		h2 Addio Mondo Crudele
		button.btn.btn-primary.btn-lg.active.mt-4
			i.fas.fa-chess-queen.fa-lg.mr-2
			| Imprint Me
