doctype html
html
	head
		title Extravagantly Pressurized

		link(rel='stylesheet', href='/stylesheets/style.css')

		link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css')

		script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js')

		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons')

		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css')

		style.
			body, html {
				font-family: 'News Cycle', sans-serif !important;
				font-weight: 300 !important;
			}

			h1, h2, h3, h4, h5, h6 {
				font-family: 'News Cycle', sans-serif !important;
				font-weight: 300 !important;
			}

			i, .material-icons {
				vertical-align: middle;
			}

			.dignity {
				font-family: 'News Cycle', sans-serif;
			}



	body
		block content
		block scripts

			script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')

			script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js')

			script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js')

			script.
				$(document).ready(function() { $('body').bootstrapMaterialDesign(); });
